
.sec{
    background-color: black;
    margin: 100px 50px 50px 50px;
    padding: 30px;
    
}
.sec:hover{
    background-color: rgb(240,230,140)  ;
}
.sec:hover p{
    color: black;
}
.sec:hover h1{
    background-color: black;
}
.logo{
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    color: rgb(240,230,140) ;
    border: 3px solid  rgb(240,230,140);
    padding: 3px;
    
}
.logo:hover {
    color: white;
}
.Hrm-Day{
    background-color: whitesmoke;
    display: flex;
    border-radius: 20px;
    
}
.sec img{
    width: 100%;
    height: 100%;
    border: 4px solid black;
    border-radius: 10px;  
}
   
h1{
    font-size: 40px;
    color: rgb(240,230,140) ;
    font-family: 'Times New Roman', Times, serif;
}
h1:hover{
    background-color: rgb(240,230,140);
}
p{
    text-align: justify;
    color: white;
    padding: 10px;  
    font-family: 'Times New Roman', Times, serif;
}

.books{
    margin: 50px;
    background-color: white;
}
.single-head-2{
    text-align: center;
    color:rgb(240,230,140)  ;
    background-color: rgb(0, 0, 0);
    margin: 0px 50px;
    font-size: 40px;
    font-family: 'Dancing Script', 'cursive'; 
}
.single-head-2:hover{
    color: black;
}
.books>div{
    display: flex;
}
.books>div>div{
    display: flex;
}
.books:hover{
    background-color:rgb(240,230,140);
    color: black;
}
.books img{
    width: 200px;
    height: 300px;
}
.books p{
    color: black;
    font-size: 15px ;
    font-family: 'Dancing Script', 'cursive'; 
}
.books p:hover{
    color: rgb(194, 43, 43);
    font-family:'Times New Roman', Times, serif;
    font-size: 14px;
}
.photo-frame{
    height: 250px;
    border: 6px solid rgb(240,230,140)  ;
    border-radius: 20px;
    position: relative;
    margin: 55px;
    overflow: hidden;
    
}
.photo-album:hover .photo-frame {
    border: 6px solid black;
}
.photo-album{
    height: 360px;
    background-color: black;
    display: flex;
}
.photo-album:hover{
    background-color: rgb(240,230,140);
}
.single-head{
    text-align: center;
    color: black ;
    background-color: rgb(240,230,140) ;
    margin: 0px 50px;  
}
.single-head:hover{
    color:rgb(240,230,140)  ;
    background-color: black;
}
.photo-frame .photo img{
    width: 310px;
    height: 250px ;
}
.photo-frame:hover .photo img{
    transform: scale(1.4);
    transition: transform 3s;
    
}
.details{
    padding: 10px;
    position: absolute;
    display: none;
    width: 300px;
    height: 230px;
    top: 0;
}
.photo-frame:hover .details{
    display: block;
    background-color: rgba(240, 230, 140, 0.452) ;
}
.photo-frame:hover .details h3{
    color: white;
    background-color: black;
    text-align: center;
}
.photo-frame:hover .details p{
    color: black;
}
.photo-frame:hover .details{
    transform: scale(.9);
    transition: transform 2s;
    
}
.footer{
    background-color: black;
    margin: 50px;
    width: 93%;
    height: 300px; 
}
.footer:hover{
    background-color: rgb(240,230,140); 
    color: black;
}
.footer:hover h1{
    color: black;
}
.footer h1{
    color: rgb(240,230,140);
    background-color: none;
}
@media screen and (min-width: 365px) and (max-width: 1024px) {
    body{
        margin: 0px 20px;
    }
    .sec{
        background-color: black;
        margin: 50px 0px;
        
        
    }
    .books>div{
        flex-direction: column;
    }
    .books>div>div{
        flex-direction: column;
    }
    .books{
        margin: 0px;
        padding: 20px;
    }
    .photo-album{
        flex-direction: column;
    }
    .logo{
        font-size: 20px;
        font-family: 'Dancing Script', cursive;
        color: rgb(240,230,140) ;
        border: 2px solid  rgb(240,230,140);
        padding: 2px;
        
    }
    .photo-frame{
        height: 400px;
        border: 2px solid rgb(240,230,140)  ;
        border-radius: 20px;
        position: relative;
        margin: 10px 0px;
        padding: 10px 0px;
        overflow: hidden;
        
    }
    .photo-album{
        height: 800px;
        background-color: white;
        flex-direction: column;
    }
    .single-head{
        margin: 30px 0px; 
        padding: 0px 5px;
    }
    .single-head-2{
        font-size: 20px;
        margin: 0px; 
        padding: 5px;

    }
    .footer{
        background-color: black;
        margin: 0px;
        width: 100%;
        height: 300px; 
        padding: 20px;
        text-align: center;
    }
    h1{
        text-align: center;
        margin-top: 20px;
    }
    h1:hover{
        color: black;
        background-color: rgb(240,230,140)  ;
    }
    p{
        margin: 10px 0px;
    }
    .sec:hover h1{
        color: black;
        background-color: rgb(240,230,140);
    }
    .photo-album:hover{
        background-color: white;
    }
    
    .photo-album:hover .photo-frame {
        border: 2px solid black;
    }
    .details{
        padding: 10px;
        position: absolute;
        display: none;
        width: 280px;
        height: 230px;
        top: 0;
    }
    .books img{
        width: 300px;
        height: 400px;
        align-items: center;
    }
}